<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanjun.canalsync.dao.BaseDao">
    <delete id="deleteByPK">
        DELETE  FROM  ${databaseName}.${tableName}
        WHERE ${key} = ${value}
    </delete>
    <insert id="insertByMap">
        INSERT INTO ${databaseName}.${tableName}
        <foreach collection="params.keys" item="key" open="(" close=")" separator=",">
            ${key}
        </foreach>
        VALUES
        <foreach collection="params.keys" item="key" open="(" close=")" separator=",">
            #{params[${key}]}
        </foreach>
    </insert>

    <update id="updateByMap">
        update ${databaseName}.${tableName}
        <set>
            <foreach collection="params.keys" item="key" index="index" separator=",">
                <if test="key != pk.toString()">
                    ${key}=#{params[${key}]}
                </if>
                <!-- 将对应的value赋值给对应的Key(key和数据库的字段一样)-->
            </foreach>
        </set>
        WHERE
        <!--#{1}表示接受Dao层方法传入的第二个参数-->
        ${pk} = #{value}
    </update>

    <update id="updateNull">
        update ${databaseName}.${tableName}
        <set>
            <foreach collection="params.keys" item="key" index="index" separator=",">
                <if test="key != pk.toString()">
                    ${key} = NULL
                </if>
                <!-- 将对应的value赋值给对应的Key(key和数据库的字段一样)-->
            </foreach>
        </set>
        WHERE
        <!--#{1}表示接受Dao层方法传入的第二个参数-->
        ${pk} = #{value}
    </update>
    <select id="selectByPK" resultType="java.util.HashMap">
        SELECT
            *
        FROM
            ${databaseName}.${tableName}
        WHERE ${key} = ${value}
    </select>

    <select id="selectByPKs" resultType="java.util.List">
        SELECT
        *
        FROM
        ${databaseName}.${tableName}
        WHERE ${key} IN
        <foreach item="item" index="index" collection="valueList" open="(" separator="," close=")">
            ${item}
        </foreach>
    </select>

    <select id="selectByPKsLockInShareMode" resultType="java.util.List">
        SELECT
        *
        FROM
        ${databaseName}.${tableName}
        WHERE ${key} IN
        <foreach item="item" index="index" collection="valueList" open="(" separator="," close=")">
            ${item}
        </foreach>
        LOCK IN SHARE MODE
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            ${databaseName}.${tableName}
    </select>

    <select id="selectMaxPK" resultType="java.lang.Long">
        SELECT
            ${key}
        FROM
            ${databaseName}.${tableName}
        ORDER BY ${key} DESC
        LIMIT 1
    </select>

    <select id="selectMinPK" resultType="java.lang.Long">
        SELECT
        ${key}
        FROM
        ${databaseName}.${tableName}
        ORDER BY ${key}
        LIMIT 1
    </select>

    <select id="selectByPKInterval" resultType="java.util.HashMap">
        SELECT
            *
        FROM
            ${databaseName}.${tableName}
        WHERE
            ${key} <![CDATA[ >= ]]> #{minPK} AND ${key} <![CDATA[ < ]]> #{maxPK}
    </select>

    <select id="selectByPKIntervalLockInShareMode" resultType="java.util.HashMap">
        SELECT
            *
        FROM
            ${databaseName}.${tableName}
        WHERE
            ${key} <![CDATA[ >= ]]> #{minPK} AND ${key} <![CDATA[ < ]]> #{maxPK}
        LOCK IN SHARE MODE
    </select>
</mapper>