<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanjun.canalsync.dao.ItemDescDao">
    <select id="getItemDescMap" resultType="java.util.HashMap">

       SELECT
          t1.ITEM_ID,
          t1.ITEM_DESC_ID,
          t1.ORDER_SORT,
          t1.DESC_TITLE,
          t1.DESC_TEXT,
          t1.CREATE_USER_ID,
          t1.CREATE_DATE,
          t1.MODIFY_USER_ID,
          t1.MODIFY_DATE,
          t1.CREATE_USER_NAME,
          t1.MODIFY_USER_NAME,
          t1.EXT_COL1,
          t1.EXT_COL2,
          t1.EXT_COL3,
          t1.EXT_COL4,
          t1.EXT_COL5,
          t1.EXT_COL6,
          t1.EXT_COL7,
          t1.EXT_COL8,
          t1.EXT_COL9,
          t1.EXT_COL10
       FROM cmc_item_desc t1 WHERE t1.ITEM_ID =  '${itemId}'


    </select>


</mapper>